<div>
    <form action='/reports' name='report_form' method='post'>
        {% if not last_report_sent_at %}
        <h3> Отправка отчёта (Дата последней отправки: Нет данных): <input type='submit' value='{{ report_value }}'></h3>
        {% else %}
        <h3> Отправка отчёта (Дата последней отправки: {{ last_report_sent_at }}): <input type='submit' value='{{ report_value }}'></h3>
        {% endif %}
    </form>
    <form action='/arena' name='arena_form' method='post'>
        <h3> Автоарена: <input type='submit' value='{{ arena_value }}'></h3>
    </form>
    <form action='/hatches' name='hatches_form' method='post'>
        <h3> Автолюки: <input type='submit' value='{{ hatches_value }}'></h3>
    </form>
</div>